<% layout('layout/boilerplate') -%>

<section class="text-gray-600 min-h-screen grid place-content-center">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col items-center text-center w-full mb-12">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-24 w-24 text-green-500"
        viewBox="0 0 20 20"
        fill="currentColor"
      >
        <path
          fill-rule="evenodd"
          d="M6.267 3.455a3.066 3.066 0 001.745-.723 3.066 3.066 0 013.976 0 3.066 3.066 0 001.745.723 3.066 3.066 0 012.812 2.812c.051.643.304 1.254.723 1.745a3.066 3.066 0 010 3.976 3.066 3.066 0 00-.723 1.745 3.066 3.066 0 01-2.812 2.812 3.066 3.066 0 00-1.745.723 3.066 3.066 0 01-3.976 0 3.066 3.066 0 00-1.745-.723 3.066 3.066 0 01-2.812-2.812 3.066 3.066 0 00-.723-1.745 3.066 3.066 0 010-3.976 3.066 3.066 0 00.723-1.745 3.066 3.066 0 012.812-2.812zm7.44 5.252a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
          clip-rule="evenodd"
        />
      </svg>
      <h1
        class="sm:text-3xl text-2xl pt-3 font-medium title-font mb-4 text-gray-900"
      >
        Account setup was successfull
      </h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
        Your account has been created successfully. Now, you can use
        <em>Neptune Connect Platform</em>. You will be redirected to the login
        screen automatically, Please wait......
      </p>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base pt-3">
        <a href="<%= url %>" class="text-indigo-500 font-medium hover:underline"
          >Click here</a
        >
        if not redirected automatically.
      </p>
    </div>
  </div>
</section>

<!--script to redirect to another webpage-->
<script>
  setTimeout(redirect, 5000);
  function redirect() {
    window.location.href = "/";
  }
</script>
